.nameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formContainer {
    max-width: 620px;
}

.formMessage {
    margin: 0px; 
    width: 620px; 
    height: 120px;
}

@media screen and (max-width: 600px) {
    .formMessage {
        width: 310px; 
    }
}

