.footer {
    margin-top: 1rem;
    padding: 0 1rem .75rem 1rem;
    background-color: #021B44;
    color: #FFFFFF;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.poweredBy {
    margin-bottom: .5rem;
    font-size: 75%;
}

a {
    color: #B2289B;
    text-decoration: none;
}

div {
    padding-top: .75rem;
}