.header {
    margin-bottom: 3rem;
    padding: 1.5rem 3rem;
    border-bottom: .5rem ridge #3CACAE;
    background-color: #CCDEDE;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 1.5rem 1.5rem;
    }
}

.headerNav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.headerTitle {
    color: #1A1A1A;
    text-decoration: none;
    padding: .8rem;
    font-family: "Krona One";
    margin: 1.45rem 0;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

.headerLink {
    text-decoration: none;
    color: #1A1A1A;
    padding: 1rem;
}

a:hover {
    font-weight: bold;
}