.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 1.45rem 3rem;
    border-bottom: .5rem ridge #3CACAE;
    background-color: #CCDEDE;
}

.headerTitle {
    color: #1A1A1A;
    text-decoration: none;
    padding: .8rem;
    font-family: "Krona One";
    margin-bottom: 1.45rem;
    margin-top: 1.45rem;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

.headerLink {
    text-decoration: none;
    color: #1A1A1A;
    padding: 1rem;
}

a:hover {
    font-weight: bold;
}