.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1.5rem 3rem;
    border-bottom: 8px solid #C8F4F9;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 1.5rem 1.5rem;
    }
}

.headerTitle {
    padding: .8rem;
    margin: 1.45rem 0;

    color: #1A1A1A;
    text-decoration: none;
    font-family: "Krona One";
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}
