.container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 1.45rem;
    justify-content: space-around;
    max-width: 30rem;
}

h2 {
    margin-left: .75rem;
    margin-right: .75rem;
}